.Accordion .Accordion-group {
    margin-bottom: .4375rem
}

.Accordion .Accordion-group,.Accordion .Accordion-group.is-expanded {
    border-top: .0625rem solid #000
}

.Accordion .Accordion-group.is-expanded+.Accordion-group {
    border-top: .0625rem solid #000
}

.Accordion .Accordion-group.is-expanded .Accordion-summary .Accordion-button:after {
    content: "-";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1;
    height: .875rem;
    width: .875rem;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.Accordion .Accordion-group.is-expanded .Accordion-detail {
    display: block;
    padding: 0 0 1rem
}

.Accordion .Accordion-group:first-of-type {
    border-top: .25rem solid #000
}

.Accordion .Accordion-summary {
    margin-top: .4375rem
}

.Accordion .Accordion-summary .Accordion-button {
    font-size: 1.5rem;
    padding: .21875rem 0;
    background: none;
    border: 0;
    color: #000;
    cursor: pointer;
    display: block;
    width: 100%;
    position: relative;
    text-align: left
}

.Accordion .Accordion-summary .Accordion-button:after {
    content: "+";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1;
    height: .875rem;
    width: .875rem;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.Accordion .Accordion-summary .Accordion-button:hover {
    color: #000
}

.Accordion .Accordion-detail {
    display: none
}

.Bar {
    position: relative;
    padding-top: 1.3125rem;
    padding-bottom: .875rem;
    margin-top: 1.3125rem
}

.Bar,.Bar.Bar--primary {
    border-top: .25rem solid #000
}

.Bar.Bar--secondary {
    border-top: .0625rem solid #000
}

.Bar.Bar--tertiary {
    border-top: .0625rem solid #d8dada
}

.Bar.Bar--noMargin {
    margin: 0
}

.Bar.is-active {
    border-color: #d52b1e
}

.Breadcrumb {
    padding-left: 0
}

.Breadcrumb li.Breadcrumb-item {
    display: inline-block
}

.Breadcrumb li.Breadcrumb-item a {
    text-decoration: none
}

.Breadcrumb li.Breadcrumb-item.is-active a {
    pointer-events: none;
    font-weight: 700;
    color: #000
}

.Breadcrumb li.Breadcrumb-item~li.Breadcrumb-item {
    margin-left: 1.75rem;
    position: relative
}

.Breadcrumb li.Breadcrumb-item~li.Breadcrumb-item:before {
    content: "";
    height: 75%;
    width: .0625rem;
    left: -.875rem;
    background: #000;
    position: absolute;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
    margin: auto;
    top: 0;
    bottom: 0
}

.Button,a.Button,button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: auto;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding: 1em 3.14em;
    margin: 0 .625rem .625rem 0;
    border-radius: 624.9375rem;
    border: .0625rem solid #000;
    color: #fff;
    font-size: .875rem;
    font-weight: 700;
    background-color: #000;
    font-style: normal;
    line-height: 1;
    -webkit-transition-property: color;
    -o-transition-property: color;
    -moz-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
    -ms-touch-action: manipulation;
    touch-action: manipulation
}

.Button.disabled,.Button.is-disabled,.Button[disabled],a.Button.disabled,a.Button.is-disabled,a.Button[disabled],button.disabled,button.is-disabled,button[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .6;
    background-color: #d8dada;
    color: #fff;
    border-color: #d8dada;
    text-shadow: 0 0 .0625rem rgba(0,0,0,.5)
}

.Button.disabled.is-active,.Button.disabled.link.active,.Button.disabled.link.hover,.Button.disabled.link:active,.Button.disabled.link:hover,.Button.disabled:active,.Button.disabled:hover,.Button.is-disabled.is-active,.Button.is-disabled.link.active,.Button.is-disabled.link.hover,.Button.is-disabled.link:active,.Button.is-disabled.link:hover,.Button.is-disabled:active,.Button.is-disabled:hover,.Button[disabled].is-active,.Button[disabled].link.active,.Button[disabled].link.hover,.Button[disabled].link:active,.Button[disabled].link:hover,.Button[disabled]:active,.Button[disabled]:hover,a.Button.disabled.is-active,a.Button.disabled.link.active,a.Button.disabled.link.hover,a.Button.disabled.link:active,a.Button.disabled.link:hover,a.Button.disabled:active,a.Button.disabled:hover,a.Button.is-disabled.is-active,a.Button.is-disabled.link.active,a.Button.is-disabled.link.hover,a.Button.is-disabled.link:active,a.Button.is-disabled.link:hover,a.Button.is-disabled:active,a.Button.is-disabled:hover,a.Button[disabled].is-active,a.Button[disabled].link.active,a.Button[disabled].link.hover,a.Button[disabled].link:active,a.Button[disabled].link:hover,a.Button[disabled]:active,a.Button[disabled]:hover,button.disabled.is-active,button.disabled.link.active,button.disabled.link.hover,button.disabled.link:active,button.disabled.link:hover,button.disabled:active,button.disabled:hover,button.is-disabled.is-active,button.is-disabled.link.active,button.is-disabled.link.hover,button.is-disabled.link:active,button.is-disabled.link:hover,button.is-disabled:active,button.is-disabled:hover,button[disabled].is-active,button[disabled].link.active,button[disabled].link.hover,button[disabled].link:active,button[disabled].link:hover,button[disabled]:active,button[disabled]:hover {
    pointer-events: none;
    background-color: #d8dada;
    color: #fff;
    border-color: #d8dada;
    text-decoration: none
}

.Button.is-active,.Button.link.active,.Button.link.hover,.Button.link:active,.Button.link:hover,.Button:active,.Button:hover,a.Button.is-active,a.Button.link.active,a.Button.link.hover,a.Button.link:active,a.Button.link:hover,a.Button:active,a.Button:hover,button.is-active,button.link.active,button.link.hover,button.link:active,button.link:hover,button:active,button:hover {
    background-color: #000;
    border-color: #000;
    color: #fff;
    text-decoration: none
}

.Button.Button--success,a.Button.Button--success,button.Button--success {
    background-color: #00ac3e;
    border: .0625rem solid #00ac3e
}

.Button.Button--success.is-active,.Button.Button--success.link.active,.Button.Button--success.link.hover,.Button.Button--success.link:active,.Button.Button--success.link:hover,.Button.Button--success:active,.Button.Button--success:hover,a.Button.Button--success.is-active,a.Button.Button--success.link.active,a.Button.Button--success.link.hover,a.Button.Button--success.link:active,a.Button.Button--success.link:hover,a.Button.Button--success:active,a.Button.Button--success:hover,button.Button--success.is-active,button.Button--success.link.active,button.Button--success.link.hover,button.Button--success.link:active,button.Button--success.link:hover,button.Button--success:active,button.Button--success:hover {
    background-color: #00ac3e;
    border-color: #00ac3e;
    color: #00ac3e;
    text-decoration: none
}

.Button.Button--info,a.Button.Button--info,button.Button--info {
    background-color: #0088ce;
    border: .0625rem solid #0088ce
}

.Button.Button--info.is-active,.Button.Button--info.link.active,.Button.Button--info.link.hover,.Button.Button--info.link:active,.Button.Button--info.link:hover,.Button.Button--info:active,.Button.Button--info:hover,a.Button.Button--info.is-active,a.Button.Button--info.link.active,a.Button.Button--info.link.hover,a.Button.Button--info.link:active,a.Button.Button--info.link:hover,a.Button.Button--info:active,a.Button.Button--info:hover,button.Button--info.is-active,button.Button--info.link.active,button.Button--info.link.hover,button.Button--info.link:active,button.Button--info.link:hover,button.Button--info:active,button.Button--info:hover {
    background-color: #0088ce;
    border-color: #0088ce;
    color: #0088ce;
    text-decoration: none
}

.Button.Button--warning,a.Button.Button--warning,button.Button--warning {
    background-color: #ffbc3d;
    border: .0625rem solid #ffbc3d
}

.Button.Button--warning.is-active,.Button.Button--warning.link.active,.Button.Button--warning.link.hover,.Button.Button--warning.link:active,.Button.Button--warning.link:hover,.Button.Button--warning:active,.Button.Button--warning:hover,a.Button.Button--warning.is-active,a.Button.Button--warning.link.active,a.Button.Button--warning.link.hover,a.Button.Button--warning.link:active,a.Button.Button--warning.link:hover,a.Button.Button--warning:active,a.Button.Button--warning:hover,button.Button--warning.is-active,button.Button--warning.link.active,button.Button--warning.link.hover,button.Button--warning.link:active,button.Button--warning.link:hover,button.Button--warning:active,button.Button--warning:hover {
    background-color: #ffbc3d;
    border-color: #ffbc3d;
    color: #ffbc3d;
    text-decoration: none
}

.Button.Button--error,a.Button.Button--error,button.Button--error {
    background-color: #ed7000;
    border: .0625rem solid #ed7000
}

.Button.Button--error.is-active,.Button.Button--error.link.active,.Button.Button--error.link.hover,.Button.Button--error.link:active,.Button.Button--error.link:hover,.Button.Button--error:active,.Button.Button--error:hover,a.Button.Button--error.is-active,a.Button.Button--error.link.active,a.Button.Button--error.link.hover,a.Button.Button--error.link:active,a.Button.Button--error.link:hover,a.Button.Button--error:active,a.Button.Button--error:hover,button.Button--error.is-active,button.Button--error.link.active,button.Button--error.link.hover,button.Button--error.link:active,button.Button--error.link:hover,button.Button--error:active,button.Button--error:hover {
    background-color: #ed7000;
    border-color: #ed7000;
    color: #ed7000;
    text-decoration: none
}

.Button.Button--secondary,a.Button.Button--secondary,button.Button--secondary {
    background-color: #fff;
    color: #000;
    border-color: #000
}

.Button.Button--secondary.disabled,.Button.Button--secondary.is-disabled,.Button.Button--secondary[disabled],a.Button.Button--secondary.disabled,a.Button.Button--secondary.is-disabled,a.Button.Button--secondary[disabled],button.Button--secondary.disabled,button.Button--secondary.is-disabled,button.Button--secondary[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .6;
    background-color: #d8dada;
    color: #fff;
    border-color: #d8dada;
    text-shadow: 0 0 .0625rem rgba(0,0,0,.5)
}

.Button.Button--secondary.disabled.is-active,.Button.Button--secondary.disabled.link.active,.Button.Button--secondary.disabled.link.hover,.Button.Button--secondary.disabled.link:active,.Button.Button--secondary.disabled.link:hover,.Button.Button--secondary.disabled:active,.Button.Button--secondary.disabled:hover,.Button.Button--secondary.is-disabled.is-active,.Button.Button--secondary.is-disabled.link.active,.Button.Button--secondary.is-disabled.link.hover,.Button.Button--secondary.is-disabled.link:active,.Button.Button--secondary.is-disabled.link:hover,.Button.Button--secondary.is-disabled:active,.Button.Button--secondary.is-disabled:hover,.Button.Button--secondary[disabled].is-active,.Button.Button--secondary[disabled].link.active,.Button.Button--secondary[disabled].link.hover,.Button.Button--secondary[disabled].link:active,.Button.Button--secondary[disabled].link:hover,.Button.Button--secondary[disabled]:active,.Button.Button--secondary[disabled]:hover,a.Button.Button--secondary.disabled.is-active,a.Button.Button--secondary.disabled.link.active,a.Button.Button--secondary.disabled.link.hover,a.Button.Button--secondary.disabled.link:active,a.Button.Button--secondary.disabled.link:hover,a.Button.Button--secondary.disabled:active,a.Button.Button--secondary.disabled:hover,a.Button.Button--secondary.is-disabled.is-active,a.Button.Button--secondary.is-disabled.link.active,a.Button.Button--secondary.is-disabled.link.hover,a.Button.Button--secondary.is-disabled.link:active,a.Button.Button--secondary.is-disabled.link:hover,a.Button.Button--secondary.is-disabled:active,a.Button.Button--secondary.is-disabled:hover,a.Button.Button--secondary[disabled].is-active,a.Button.Button--secondary[disabled].link.active,a.Button.Button--secondary[disabled].link.hover,a.Button.Button--secondary[disabled].link:active,a.Button.Button--secondary[disabled].link:hover,a.Button.Button--secondary[disabled]:active,a.Button.Button--secondary[disabled]:hover,button.Button--secondary.disabled.is-active,button.Button--secondary.disabled.link.active,button.Button--secondary.disabled.link.hover,button.Button--secondary.disabled.link:active,button.Button--secondary.disabled.link:hover,button.Button--secondary.disabled:active,button.Button--secondary.disabled:hover,button.Button--secondary.is-disabled.is-active,button.Button--secondary.is-disabled.link.active,button.Button--secondary.is-disabled.link.hover,button.Button--secondary.is-disabled.link:active,button.Button--secondary.is-disabled.link:hover,button.Button--secondary.is-disabled:active,button.Button--secondary.is-disabled:hover,button.Button--secondary[disabled].is-active,button.Button--secondary[disabled].link.active,button.Button--secondary[disabled].link.hover,button.Button--secondary[disabled].link:active,button.Button--secondary[disabled].link:hover,button.Button--secondary[disabled]:active,button.Button--secondary[disabled]:hover {
    pointer-events: none;
    background-color: #d8dada;
    color: #fff;
    border-color: #d8dada;
    text-decoration: none
}

.Button.Button--secondary.is-active,.Button.Button--secondary.link.active,.Button.Button--secondary.link.hover,.Button.Button--secondary.link:active,.Button.Button--secondary.link:hover,.Button.Button--secondary:active,.Button.Button--secondary:hover,a.Button.Button--secondary.is-active,a.Button.Button--secondary.link.active,a.Button.Button--secondary.link.hover,a.Button.Button--secondary.link:active,a.Button.Button--secondary.link:hover,a.Button.Button--secondary:active,a.Button.Button--secondary:hover,button.Button--secondary.is-active,button.Button--secondary.link.active,button.Button--secondary.link.hover,button.Button--secondary.link:active,button.Button--secondary.link:hover,button.Button--secondary:active,button.Button--secondary:hover {
    background-color: #fff;
    border-color: #000;
    color: #000;
    text-decoration: none
}

.Button.Button--cta,a.Button.Button--cta,button.Button--cta {
    width: auto;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding: 0;
    margin: 0 0 0 .875rem;
    border: 0;
    cursor: pointer;
    background-image: none;
    background-color: rgba(0,0,0,0);
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 700;
    font-style: normal;
    line-height: 1;
    color: #000;
    -webkit-transition: opacity .15s ease-in;
    -o-transition: opacity .15s ease-in;
    -moz-transition: opacity .15s ease-in;
    transition: opacity .15s ease-in;
    -ms-touch-action: manipulation;
    touch-action: manipulation
}

.Button.Button--cta:hover,a.Button.Button--cta:hover,button.Button--cta:hover {
    background-color: rgba(0,0,0,0);
    color: #000;
    text-decoration: none
}

.Button.Button--cta.is-active,.Button.Button--cta:active,a.Button.Button--cta.is-active,a.Button.Button--cta:active,button.Button--cta.is-active,button.Button--cta:active {
    opacity: .77;
    -webkit-transition: opacity .15s ease-out;
    -o-transition: opacity .15s ease-out;
    -moz-transition: opacity .15s ease-out;
    transition: opacity .15s ease-out
}

.Button.Button--cta.is-disabled,a.Button.Button--cta.is-disabled,button.Button--cta.is-disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: #d8dada;
    text-shadow: none
}

.Button.Button--cta.is-disabled:hover,a.Button.Button--cta.is-disabled:hover,button.Button--cta.is-disabled:hover {
    background-color: rgba(0,0,0,0)
}

.Button.Button--cta.is-disabled:after,a.Button.Button--cta.is-disabled:after,button.Button--cta.is-disabled:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 15 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23d8dada' stroke-width='3' d='M1.607 1l10.606 10.607L1.607 22.213' fill='none'/%3E%3C/svg%3E")
}

.Button.Button--cta.is-focused,.Button.Button--cta:focus,a.Button.Button--cta.is-focused,a.Button.Button--cta:focus,button.Button--cta.is-focused,button.Button--cta:focus {
    text-decoration: underline
}

.Button.Button--cta:after,a.Button.Button--cta:after,button.Button--cta:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 15 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23000' stroke-width='3' d='M1.607 1l10.606 10.607L1.607 22.213' fill='none'/%3E%3C/svg%3E");
    content: " ";
    display: inline-block;
    width: .9em;
    height: .9em;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 1ex;
    position: relative;
    vertical-align: top;
    top: 6.25%;
    font-size: inherit;
    line-height: inherit
}

.Button.Button--tiny,a.Button.Button--tiny,button.Button--tiny {
    font-size: .6875rem;
    padding: .375rem .6875rem
}

.Button.Button--small,a.Button.Button--small,button.Button--small {
    font-size: .6875rem
}

.Button.Button--large,a.Button.Button--large,button.Button--large {
    font-size: 1rem
}

.Button.Button--block,a.Button.Button--block,button.Button--block {
    display: block;
    width: 100%
}

.Dropdown {
    position: relative;
    display: inline-block;
    margin-right: .875rem;
    margin-bottom: .875rem
}

.Dropdown.Dropdown--block {
    width: 100%;
    display: block
}

.Dropdown.Dropdown--block .Dropdown-trigger a,.Dropdown.Dropdown--block .Dropdown-trigger button {
    width: 100%
}

.Dropdown.Dropdown--block .Dropdown-trigger a:after,.Dropdown.Dropdown--block .Dropdown-trigger button:after {
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute
}

.Dropdown.is-selected .Dropdown-trigger a,.Dropdown.is-selected .Dropdown-trigger button {
    color: #000
}

.Dropdown.is-selected .Dropdown-trigger a:after,.Dropdown.is-selected .Dropdown-trigger button:after {
    -webkit-transition: fill .25s;
    -o-transition: fill .25s;
    -moz-transition: fill .25s;
    transition: fill .25s;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 8"><path fill="#000000" d="M5.5 5.5l-.354.354.354.353.354-.353L5.5 5.5zM-.354.354l5.5 5.5.708-.708-5.5-5.5-.708.708zm6.208 5.5l5.5-5.5-.708-.708-5.5 5.5.708.708z" /></svg>')
}

.Dropdown.is-active .Dropdown-list {
    display: block
}

.Dropdown.is-error .Dropdown-trigger {
    border-bottom: .25rem solid #ed7000
}

.Dropdown.is-disabled {
    pointer-events: none;
    outline: none
}

.Dropdown.is-disabled .Dropdown-trigger {
    border-bottom: .0625rem solid #d8dada
}

.Dropdown.is-disabled .Dropdown-trigger a,.Dropdown.is-disabled .Dropdown-trigger button {
    color: #d8dada
}

.Dropdown.is-disabled .Dropdown-trigger a:after,.Dropdown.is-disabled .Dropdown-trigger button:after {
    -webkit-transition: fill .25s;
    -o-transition: fill .25s;
    -moz-transition: fill .25s;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 8"><path fill="#d8dada" d="M5.5 5.5l-.354.354.354.353.354-.353L5.5 5.5zM-.354.354l5.5 5.5.708-.708-5.5-5.5-.708.708zm6.208 5.5l5.5-5.5-.708-.708-5.5 5.5.708.708z" /></svg>');
    transition: fill .25s
}

.Dropdown .Dropdown-label,.Dropdown .Dropdown-value {
    display: none
}

.Dropdown .Dropdown-trigger {
    border-bottom: .0625rem solid #747676
}

.Dropdown .Dropdown-trigger:hover a,.Dropdown .Dropdown-trigger:hover button {
    color: #000;
    -webkit-transition: color .25s;
    -o-transition: color .25s;
    -moz-transition: color .25s;
    transition: color .25s
}

.Dropdown .Dropdown-trigger:hover a:after,.Dropdown .Dropdown-trigger:hover button:after {
    -webkit-transition: fill .25s;
    -o-transition: fill .25s;
    -moz-transition: fill .25s;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 8"><path fill="#000000" d="M5.5 5.5l-.354.354.354.353.354-.353L5.5 5.5zM-.354.354l5.5 5.5.708-.708-5.5-5.5-.708.708zm6.208 5.5l5.5-5.5-.708-.708-5.5 5.5.708.708z" /></svg>');
    transition: fill .25s
}

.Dropdown .Dropdown-trigger a,.Dropdown .Dropdown-trigger button {
    background: none;
    text-align: left;
    border-radius: 0;
    padding: 0;
    margin: 0;
    font-size: 1.5625rem;
    color: #747676;
    border: none;
    font-family: inherit
}

.Dropdown .Dropdown-trigger a:after,.Dropdown .Dropdown-trigger button:after {
    -webkit-transition: fill .25s;
    -o-transition: fill .25s;
    -moz-transition: fill .25s;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 8"><path fill="#747676" d="M5.5 5.5l-.354.354.354.353.354-.353L5.5 5.5zM-.354.354l5.5 5.5.708-.708-5.5-5.5-.708.708zm6.208 5.5l5.5-5.5-.708-.708-5.5 5.5.708.708z" /></svg>');
    transition: fill .25s;
    content: "";
    width: 1ch;
    height: 1ch;
    position: relative;
    margin-left: 1ch;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    -o-transition: -o-transform .4s;
    -moz-transition: transform .4s,-moz-transform .4s;
    transition: transform .4s;
    transition: transform .4s,-webkit-transform .4s,-moz-transform .4s,-o-transform .4s;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg)
}

.Dropdown .Dropdown-list {
    display: none;
    position: absolute;
    width: 100%
}

.Dropdown .Dropdown-list .Dropdown-item {
    border: .0625rem solid #d8dada;
    border-top: none;
    background: #fff
}

.Dropdown .Dropdown-list .Dropdown-item:hover a,.Dropdown .Dropdown-list .Dropdown-item:hover button {
    color: #000
}

.Dropdown .Dropdown-list a,.Dropdown .Dropdown-list button {
    background: none;
    text-align: left;
    border-radius: 0;
    padding: .875rem;
    margin: 0;
    font-size: 1.125rem;
    color: #747676;
    border: none;
    font-family: inherit;
    width: 100%
}

.Dropdown .Dropdown-message {
    padding: .4375rem 0;
    font-size: .65625rem;
    margin-bottom: 0
}

.Form {
    display: block;
    margin: 0
}

.Form-group {
    margin-bottom: .875rem
}

.Form-label {
    font-size: .625rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    color: #747676;
    line-height: 1
}

.Form-label--disabled {
    color: #d8dada
}

.Form-label+.Form-input {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: .4375rem
}

.Form-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    margin: 0 .25rem .5ch 0;
    padding: 1.5ch;
    background-color: #fff;
    border-radius: 0;
    color: #000;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1;
    -webkit-transition: border .25s;
    -o-transition: border .25s;
    -moz-transition: border .25s;
    transition: border .25s;
    border: .0625rem solid #d8dada;
    border-bottom: .125rem solid #000;
    height: 2.625rem;
    width: 8.4375rem
}

.Form-input::-webkit-input-placeholder {
    color: #747676
}

.Form-input::-moz-placeholder {
    color: #747676
}

.Form-input:-ms-input-placeholder {
    color: #747676
}

.Form-input:-moz-placeholder {
    color: #747676
}

.Form-input.is-disabled,.Form-input:disabled {
    border-color: #d8dada
}

.Form-input.is-focused,.Form-input:focus {
    -webkit-transition: border .25s;
    -o-transition: border .25s;
    -moz-transition: border .25s;
    transition: border .25s;
    outline: none;
    border-top: .0625rem solid #000;
    border-left: .0625rem solid #000;
    border-right: .0625rem solid #000
}

.Form-input.is-disabled,.Form-input[disabled] {
    pointer-events: none;
    border-color: #d8dada;
    border-bottom: .0625rem solid #d8dada
}

.Form-input.is-locked,.Form-input.is-locked[disabled] {
    pointer-events: none;
    color: #000
}

.Form-input.is-success {
    border-color: #00ac3e;
    border-bottom-width: .25rem
}

.Form-input.is-success[type=date],.Form-input.is-success[type=datetime-local],.Form-input.is-success[type=email],.Form-input.is-success[type=month],.Form-input.is-success[type=number],.Form-input.is-success[type=password],.Form-input.is-success[type=search],.Form-input.is-success[type=tel],.Form-input.is-success[type=text],.Form-input.is-success[type=time],.Form-input.is-success[type=url],.Form-input.is-success[type=week] {
    border-color: #00ac3e
}

.Form-input.is-success.is-focused,.Form-input.is-success:focus {
    -webkit-transition: border .25s;
    -o-transition: border .25s;
    -moz-transition: border .25s;
    transition: border .25s;
    outline: none;
    border-top: .0625rem solid #000;
    border-left: .0625rem solid #000;
    border-right: .0625rem solid #000
}

.Form-input.is-info {
    border-color: #0088ce;
    border-bottom-width: .25rem
}

.Form-input.is-info[type=date],.Form-input.is-info[type=datetime-local],.Form-input.is-info[type=email],.Form-input.is-info[type=month],.Form-input.is-info[type=number],.Form-input.is-info[type=password],.Form-input.is-info[type=search],.Form-input.is-info[type=tel],.Form-input.is-info[type=text],.Form-input.is-info[type=time],.Form-input.is-info[type=url],.Form-input.is-info[type=week] {
    border-color: #0088ce
}

.Form-input.is-info.is-focused,.Form-input.is-info:focus {
    -webkit-transition: border .25s;
    -o-transition: border .25s;
    -moz-transition: border .25s;
    transition: border .25s;
    outline: none;
    border-top: .0625rem solid #000;
    border-left: .0625rem solid #000;
    border-right: .0625rem solid #000
}

.Form-input.is-warning {
    border-color: #ffbc3d;
    border-bottom-width: .25rem
}

.Form-input.is-warning[type=date],.Form-input.is-warning[type=datetime-local],.Form-input.is-warning[type=email],.Form-input.is-warning[type=month],.Form-input.is-warning[type=number],.Form-input.is-warning[type=password],.Form-input.is-warning[type=search],.Form-input.is-warning[type=tel],.Form-input.is-warning[type=text],.Form-input.is-warning[type=time],.Form-input.is-warning[type=url],.Form-input.is-warning[type=week] {
    border-color: #ffbc3d
}

.Form-input.is-warning.is-focused,.Form-input.is-warning:focus {
    -webkit-transition: border .25s;
    -o-transition: border .25s;
    -moz-transition: border .25s;
    transition: border .25s;
    outline: none;
    border-top: .0625rem solid #000;
    border-left: .0625rem solid #000;
    border-right: .0625rem solid #000
}

.Form-input.is-error {
    border-color: #ed7000;
    border-bottom-width: .25rem
}

.Form-input.is-error[type=date],.Form-input.is-error[type=datetime-local],.Form-input.is-error[type=email],.Form-input.is-error[type=month],.Form-input.is-error[type=number],.Form-input.is-error[type=password],.Form-input.is-error[type=search],.Form-input.is-error[type=tel],.Form-input.is-error[type=text],.Form-input.is-error[type=time],.Form-input.is-error[type=url],.Form-input.is-error[type=week] {
    border-color: #ed7000
}

.Form-input.is-error.is-focused,.Form-input.is-error:focus {
    -webkit-transition: border .25s;
    -o-transition: border .25s;
    -moz-transition: border .25s;
    transition: border .25s;
    outline: none;
    border-top: .0625rem solid #000;
    border-left: .0625rem solid #000;
    border-right: .0625rem solid #000
}

textarea.Form-input {
    padding: 1.5ch;
    width: 100%
}

textarea.Form-input.is-success {
    border-color: #00ac3e;
    border-bottom-width: .25rem
}

textarea.Form-input.is-info {
    border-color: #0088ce;
    border-bottom-width: .25rem
}

textarea.Form-input.is-warning {
    border-color: #ffbc3d;
    border-bottom-width: .25rem
}

textarea.Form-input.is-error {
    border-color: #ed7000;
    border-bottom-width: .25rem
}

.Form-checkbox--inline,.Form-radio--inline {
    display: inline-block
}

.Form-checkbox input[type=checkbox],.Form-checkbox input[type=radio],.Form-radio input[type=checkbox],.Form-radio input[type=radio] {
    opacity: 0;
    margin-left: -1.3125rem
}

.Form-checkbox label,.Form-radio label {
    display: inline-block;
    position: relative;
    padding: .3125rem .3125rem .625rem calc(1.3125rem + 1ch);
    margin: 0 1ch 1ch .3125rem
}

.Form-checkbox label:focus,.Form-radio label:focus {
    outline: none
}

.Form-checkbox label:before,.Form-radio label:before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    width: 1.3125rem;
    height: 1.3125rem;
    left: 0;
    top: 0;
    bottom: .3125rem;
    margin: auto
}

@supports (-ms-ime-align:auto) {
    .Form-checkbox label:before,.Form-radio label:before {
        width: 1.5rem;
        height: 1.5rem;
        left: -2;
        top: -2
    }
}

.Form-checkbox input[type=checkbox]+label:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='999' height='999' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h999v999H0V0zm50 50v900h900V50H50z' fill='%23000' fill-rule='evenodd'/%3E%3C/svg%3E")
}

.Form-checkbox input[type=checkbox]:focus+label:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='999' height='999' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h999v999H0V0zm85 85v830h830V85H85z' fill='%23000' fill-rule='evenodd'/%3E%3C/svg%3E")
}

.Form-checkbox input[type=checkbox]:checked+label:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='999' height='999' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M422.495 642.014L719.048 324l13.532 12.619-299.048 320.69-.207-.194-11.368 10.978L265.5 506.079l13.31-12.854 143.684 148.79zM0 0h999v999H0V0zm50 50v900h900V50H50z' fill='%23000' fill-rule='evenodd'/%3E%3C/svg%3E")
}

.Form-checkbox input[type=checkbox]:checked:focus+label:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='999' height='999' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M422.495 642.014L719.048 324l13.532 12.619-299.048 320.69-.207-.194-11.368 10.978L265.5 506.079l13.31-12.854 143.684 148.79zM0 0h999v999H0V0zm85 85v830h830V85H85z' fill='%23000' fill-rule='evenodd'/%3E%3C/svg%3E")
}

.Form-checkbox.is-error input[type=checkbox]+label:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='999' height='999' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h999v999H0V0zm50 50v900h900V50H50z' fill='%23EC7002' fill-rule='evenodd'/%3E%3C/svg%3E")
}

.Form-checkbox.is-error input[type=checkbox]:checked+label:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='999' height='999' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23FFF' d='M0 0h999v999H0z'/%3E%3Cpath d='M422.495 642.014L719.048 324l13.532 12.619-299.048 320.69-.207-.194-11.368 10.978L265.5 506.079l13.31-12.854 143.684 148.79zM0 0h999v999H0V0zm50 50v900h900V50H50z' fill='%23EC7002'/%3E%3C/g%3E%3C/svg%3E")
}

.Form-checkbox.is-error input[type=checkbox]:focus+label:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='999' height='999' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h999v999H0V0zm85 85v830h830V85H85z' fill='%23EC7002' fill-rule='evenodd'/%3E%3C/svg%3E")
}

.Form-checkbox.is-error input[type=checkbox]:checked:focus+label:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='999' height='999' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M422.495 642.014L719.048 324l13.532 12.619-299.048 320.69-.207-.194-11.368 10.978L265.5 506.079l13.31-12.854 143.684 148.79zM0 0h999v999H0V0zm85 85v830h830V85H85z' fill='%23EC7002' fill-rule='evenodd'/%3E%3C/svg%3E")
}

.Form-checkbox.is-disabled input[type=checkbox]+label:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='999' height='999' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h999v999H0V0zm50 50v900h900V50H50z' fill='%23DADCDC' fill-rule='evenodd'/%3E%3C/svg%3E")
}

.Form-checkbox.is-disabled input[type=checkbox]:checked+label:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='999' height='999' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M376.149 714.327L786.256 274.54l19.382 18.075-428.346 459.346-9.943-9.273-.338.327-6.225-6.447-2.877-2.682.14-.151-215.14-222.785 19.064-18.41L376.15 714.327zM0 0h999v999H0V0zm50 50v900h900V50H50z' fill='%23DADCDC' fill-rule='evenodd'/%3E%3C/svg%3E")
}

.Form-checkbox.is-disabled input[type=checkbox]:focus+label:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='999' height='999' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h999v999H0V0zm85 85v830h830V85H85z' fill='%23DADCDC' fill-rule='evenodd'/%3E%3C/svg%3E")
}

.Form-checkbox.is-disabled input[type=checkbox]:checked:focus+label:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='999' height='999' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M422.495 642.014L719.048 324l13.532 12.619-299.048 320.69-.207-.194-11.368 10.978L265.5 506.079l13.31-12.854 143.684 148.79zM0 0h999v999H0V0zm85 85v830h830V85H85z' fill='%23DADCDC' fill-rule='evenodd'/%3E%3C/svg%3E")
}

.Form-radio input[type=radio]+label:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='999' height='999' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M499.5 999C223.634 999 0 775.366 0 499.5S223.634 0 499.5 0 999 223.634 999 499.5 775.366 999 499.5 999zm.502-49.197c246.2 0 445.785-201.383 445.785-449.801 0-248.418-199.585-449.801-445.785-449.801-246.2 0-445.785 201.383-445.785 449.801 0 248.418 199.585 449.801 445.785 449.801z' fill='%23000' fill-rule='evenodd'/%3E%3C/svg%3E")
}

.Form-radio input[type=radio]:focus+label:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='999' height='999' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M499.5 999C223.634 999 0 775.366 0 499.5S223.634 0 499.5 0 999 223.634 999 499.5 775.366 999 499.5 999zm-.205-84c227.151 0 411.294-185.802 411.294-415S726.446 85 499.295 85C272.143 85 88 270.802 88 500s184.143 415 411.295 415z' fill='%23000' fill-rule='evenodd'/%3E%3C/svg%3E")
}

.Form-radio input[type=radio]:checked+label:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='999' height='999' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M499.5 999C223.634 999 0 775.366 0 499.5S223.634 0 499.5 0 999 223.634 999 499.5 775.366 999 499.5 999zm.502-49.197c246.2 0 445.785-201.383 445.785-449.801 0-248.418-199.585-449.801-445.785-449.801-246.2 0-445.785 201.383-445.785 449.801 0 248.418 199.585 449.801 445.785 449.801zm-.502-243.977c-110.624 0-200.302-90.577-200.302-202.31s89.678-202.31 200.302-202.31 200.302 90.577 200.302 202.31-89.678 202.31-200.302 202.31z' fill='%23000' fill-rule='evenodd'/%3E%3C/svg%3E")
}

.Form-radio input[type=radio]:checked:focus+label:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='999' height='999' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M499.5 999C223.634 999 0 775.366 0 499.5S223.634 0 499.5 0 999 223.634 999 499.5 775.366 999 499.5 999zm-.205-84c227.151 0 411.294-185.802 411.294-415S726.446 85 499.295 85C272.143 85 88 270.802 88 500s184.143 415 411.295 415zm.007-213.38C388.678 701.62 299 611.043 299 499.31S388.678 297 499.302 297s200.302 90.577 200.302 202.31-89.678 202.31-200.302 202.31z' fill='%23000' fill-rule='evenodd'/%3E%3C/svg%3E")
}

.Form-radio.is-error input[type=radio]+label:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='999' height='999' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M499.5 999C223.634 999 0 775.366 0 499.5S223.634 0 499.5 0 999 223.634 999 499.5 775.366 999 499.5 999zm.502-49.197c246.2 0 445.785-201.383 445.785-449.801 0-248.418-199.585-449.801-445.785-449.801-246.2 0-445.785 201.383-445.785 449.801 0 248.418 199.585 449.801 445.785 449.801z' fill='%23EC7002' fill-rule='evenodd'/%3E%3C/svg%3E")
}

.Form-radio.is-error input[type=radio]:checked+label:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='1002' height='1005' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M501.5 1001C225.634 1001 2 777.366 2 501.5S225.634 2 501.5 2 1001 225.634 1001 501.5 777.366 1001 501.5 1001zm.502-49.197c246.2 0 445.785-201.383 445.785-449.801 0-248.418-199.585-449.801-445.785-449.801-246.2 0-445.785 201.383-445.785 449.801 0 248.418 199.585 449.801 445.785 449.801zm-.502-243.977c-110.624 0-200.302-90.577-200.302-202.31s89.678-202.31 200.302-202.31 200.302 90.577 200.302 202.31-89.678 202.31-200.302 202.31z' fill='%23EC7002' fill-rule='evenodd'/%3E%3C/svg%3E")
}

.Form-radio.is-error input[type=radio]:focus+label:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='999' height='999' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M499.5 999C223.634 999 0 775.366 0 499.5S223.634 0 499.5 0 999 223.634 999 499.5 775.366 999 499.5 999zm-.205-84c227.151 0 411.294-185.802 411.294-415S726.446 85 499.295 85C272.143 85 88 270.802 88 500s184.143 415 411.295 415z' fill='%23EC7002' fill-rule='evenodd'/%3E%3C/svg%3E")
}

.Form-radio.is-error input[type=radio]:checked:focus+label:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='999' height='999' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M499.5 999C223.634 999 0 775.366 0 499.5S223.634 0 499.5 0 999 223.634 999 499.5 775.366 999 499.5 999zm-.205-84c227.151 0 411.294-185.802 411.294-415S726.446 85 499.295 85C272.143 85 88 270.802 88 500s184.143 415 411.295 415zm.007-213.38C388.678 701.62 299 611.043 299 499.31S388.678 297 499.302 297s200.302 90.577 200.302 202.31-89.678 202.31-200.302 202.31z' fill='%23EC7002' fill-rule='evenodd'/%3E%3C/svg%3E")
}

.Form-radio.is-disabled input[type=radio]+label:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='999' height='999' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M499.5 999C223.634 999 0 775.366 0 499.5S223.634 0 499.5 0 999 223.634 999 499.5 775.366 999 499.5 999zm.502-49.197c246.2 0 445.785-201.383 445.785-449.801 0-248.418-199.585-449.801-445.785-449.801-246.2 0-445.785 201.383-445.785 449.801 0 248.418 199.585 449.801 445.785 449.801z' fill='%23DADCDC' fill-rule='evenodd'/%3E%3C/svg%3E")
}

.Form-radio.is-disabled input[type=radio]:checked+label:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='1002' height='1005' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M501.5 1001C225.634 1001 2 777.366 2 501.5S225.634 2 501.5 2 1001 225.634 1001 501.5 777.366 1001 501.5 1001zm.502-49.197c246.2 0 445.785-201.383 445.785-449.801 0-248.418-199.585-449.801-445.785-449.801-246.2 0-445.785 201.383-445.785 449.801 0 248.418 199.585 449.801 445.785 449.801zm-.502-243.977c-110.624 0-200.302-90.577-200.302-202.31s89.678-202.31 200.302-202.31 200.302 90.577 200.302 202.31-89.678 202.31-200.302 202.31z' fill='%23DADCDC' fill-rule='evenodd'/%3E%3C/svg%3E")
}

.Form-radio.is-disabled input[type=radio]:focus+label:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='999' height='999' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M499.5 999C223.634 999 0 775.366 0 499.5S223.634 0 499.5 0 999 223.634 999 499.5 775.366 999 499.5 999zm-.205-84c227.151 0 411.294-185.802 411.294-415S726.446 85 499.295 85C272.143 85 88 270.802 88 500s184.143 415 411.295 415z' fill='%23DADCDC' fill-rule='evenodd'/%3E%3C/svg%3E")
}

.Form-radio.is-disabled input[type=radio]:checked:focus+label:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='999' height='999' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M499.5 999C223.634 999 0 775.366 0 499.5S223.634 0 499.5 0 999 223.634 999 499.5 775.366 999 499.5 999zm-.205-84c227.151 0 411.294-185.802 411.294-415S726.446 85 499.295 85C272.143 85 88 270.802 88 500s184.143 415 411.295 415zm.007-213.38C388.678 701.62 299 611.043 299 499.31S388.678 297 499.302 297s200.302 90.577 200.302 202.31-89.678 202.31-200.302 202.31z' fill='%23DADCDC' fill-rule='evenodd'/%3E%3C/svg%3E")
}

select.Form-input:not([multiple]) {
    background-color: rgba(0,0,0,0);
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 8'%3E%3Cpath d='M5.5 5.5l-.354.354.354.353.354-.353L5.5 5.5zM-.354.354l5.5 5.5.708-.708-5.5-5.5-.708.708zm6.208 5.5l5.5-5.5-.708-.708-5.5 5.5.708.708z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right .875rem center;
    background-size: 1.125rem;
    padding: 0 3rem 0 1.5ch;
    line-height: 1rem;
    cursor: pointer
}

select.Form-input:not([multiple]).is-success {
    border-color: #00ac3e;
    border-bottom-width: .25rem
}

select.Form-input:not([multiple]).is-info {
    border-color: #0088ce;
    border-bottom-width: .25rem
}

select.Form-input:not([multiple]).is-warning {
    border-color: #ffbc3d;
    border-bottom-width: .25rem
}

select.Form-input:not([multiple]).is-error {
    border-color: #ed7000;
    border-bottom-width: .25rem
}

select.Form-input[multiple] {
    height: auto;
    padding: 1.5ch
}

.Form-switch {
    border-radius: 1rem;
    margin: 1rem 1rem 0;
    display: inline-block;
    position: relative
}

.Form-switch input[type=checkbox],.Form-switch input[type=radio] {
    clip: rect(0 0 0 0);
    position: absolute;
    width: .0625rem;
    height: .0625rem;
    overflow: hidden;
    margin: -.0625rem;
    padding: 0;
    border: 0
}

.Form-switch input[type=checkbox]+label:before,.Form-switch input[type=checkbox]:checked+label:before,.Form-switch input[type=radio]+label:before,.Form-switch input[type=radio]:checked+label:before {
    background-image: none
}

.Form-switch input[type=checkbox]:focus+.Form-toggle,.Form-switch input[type=radio]:focus+.Form-toggle {
    border: .125rem solid #000;
    outline: none
}

.Form-switch input[type=checkbox]:checked+.Form-toggle,.Form-switch input[type=radio]:checked+.Form-toggle {
    background-color: #00ac3e;
    -webkit-transition: background-color .25s;
    -o-transition: background-color .25s;
    -moz-transition: background-color .25s;
    transition: background-color .25s
}

.Form-switch input[type=checkbox]:checked+.Form-toggle:before,.Form-switch input[type=radio]:checked+.Form-toggle:before {
    -webkit-transition: left .25s;
    -o-transition: left .25s;
    -moz-transition: left .25s;
    transition: left .25s;
    left: -moz-calc(100% - 1rem);
    left: calc(100% - 1rem);
    content: ""
}

.Form-switch .Form-toggle {
    width: 2rem;
    background-color: #a7a7a7;
    -webkit-transition: background-color .25s;
    -o-transition: background-color .25s;
    -moz-transition: background-color .25s;
    transition: background-color .25s;
    border: .125rem solid rgba(0,0,0,0);
    border-radius: 1rem;
    min-height: 1.25rem;
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin: 0;
    left: 0
}

.Form-switch .Form-toggle:before {
    background-image: none;
    padding-left: 0;
    -webkit-transition: left .25s;
    -o-transition: left .25s;
    -moz-transition: left .25s;
    transition: left .25s;
    left: 0;
    content: "";
    height: 1rem;
    width: 1rem;
    background: #fff;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute
}

.Form-switch.Form-switch--block {
    display: block
}

.Form-switch.Form-switch--block.Form-switch--withLabel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
}

.Form-switch.Form-switch--withLabel {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.Form-switch.Form-switch--withLabel label {
    margin-bottom: 0
}

.Form-switch.Form-switch--withLabel .Form-label,.Form-switch.Form-switch--withLabel label {
    display: inline-block
}

.Form-switch.Form-switch--withLabel .Form-label--primary {
    margin-right: 1ch
}

.Form-switch.Form-switch--withLabel .Form-label--secondary {
    margin-left: 1ch
}

.Form-switch.is-disabled .Form-toggle {
    background-color: #d8dada;
    cursor: auto
}

.Form-text {
    display: block;
    margin-top: .4375rem;
    font-size: .75rem;
    color: #747676
}