.Grid {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-flex-flow: row wrap;
    -moz-box-orient: horizontal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 -8px;
    padding: 0
}

.Grid,.Grid.Grid--vertical {
    -webkit-box-direction: normal;
    -moz-box-direction: normal
}

.Grid.Grid--vertical {
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column nowrap;
    -moz-box-orient: vertical;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap
}

.Grid.Grid--gapless {
    margin: 0
}

.Grid.Grid--gapless>.Col {
    padding: 0
}

.Grid.Grid--gapless>.Row {
    padding: 0
}

.Col {
    max-width: 100%;
    padding: 0 8px 16px
}

.Col,.Row {
    position: relative;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    min-width: 0
}

.Row {
    max-height: 100%;
    padding: 8px 0
}

.Row--1 {
    -webkit-flex-basis: 8.3333333333%;
    -ms-flex-preferred-size: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-height: 8.3333333333%
}

.Row--2 {
    -webkit-flex-basis: 16.6666666667%;
    -ms-flex-preferred-size: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-height: 16.6666666667%
}

.Row--3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-height: 25%
}

.Row--4 {
    -webkit-flex-basis: 33.3333333333%;
    -ms-flex-preferred-size: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-height: 33.3333333333%
}

.Row--5 {
    -webkit-flex-basis: 41.6666666667%;
    -ms-flex-preferred-size: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-height: 41.6666666667%
}

.Row--6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-height: 50%
}

.Row--7 {
    -webkit-flex-basis: 58.3333333333%;
    -ms-flex-preferred-size: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-height: 58.3333333333%
}

.Row--8 {
    -webkit-flex-basis: 66.6666666667%;
    -ms-flex-preferred-size: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-height: 66.6666666667%
}

.Row--9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-height: 75%
}

.Row--10 {
    -webkit-flex-basis: 83.3333333333%;
    -ms-flex-preferred-size: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-height: 83.3333333333%
}

.Row--11 {
    -webkit-flex-basis: 91.6666666667%;
    -ms-flex-preferred-size: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-height: 91.6666666667%
}

.Row--12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-height: 100%
}

.Col--1 {
    -webkit-flex-basis: 8.3333333333%;
    -ms-flex-preferred-size: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%
}

.Col--2 {
    -webkit-flex-basis: 16.6666666667%;
    -ms-flex-preferred-size: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%
}

.Col--3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%
}

.Col--4 {
    -webkit-flex-basis: 33.3333333333%;
    -ms-flex-preferred-size: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%
}

.Col--5 {
    -webkit-flex-basis: 41.6666666667%;
    -ms-flex-preferred-size: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%
}

.Col--6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%
}

.Col--7 {
    -webkit-flex-basis: 58.3333333333%;
    -ms-flex-preferred-size: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%
}

.Col--8 {
    -webkit-flex-basis: 66.6666666667%;
    -ms-flex-preferred-size: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%
}

.Col--9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%
}

.Col--10 {
    -webkit-flex-basis: 83.3333333333%;
    -ms-flex-preferred-size: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%
}

.Col--11 {
    -webkit-flex-basis: 91.6666666667%;
    -ms-flex-preferred-size: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%
}

.Col--12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%
}

@media screen and (min-width: 320px) {
    .Col--xs1 {
        -webkit-flex-basis:8.3333333333%;
        -ms-flex-preferred-size: 8.3333333333%;
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%
    }

    .Col--xs2 {
        -webkit-flex-basis: 16.6666666667%;
        -ms-flex-preferred-size: 16.6666666667%;
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%
    }

    .Col--xs3 {
        -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
    }

    .Col--xs4 {
        -webkit-flex-basis: 33.3333333333%;
        -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%
    }

    .Col--xs5 {
        -webkit-flex-basis: 41.6666666667%;
        -ms-flex-preferred-size: 41.6666666667%;
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%
    }

    .Col--xs6 {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }

    .Col--xs7 {
        -webkit-flex-basis: 58.3333333333%;
        -ms-flex-preferred-size: 58.3333333333%;
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%
    }

    .Col--xs8 {
        -webkit-flex-basis: 66.6666666667%;
        -ms-flex-preferred-size: 66.6666666667%;
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%
    }

    .Col--xs9 {
        -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
    }

    .Col--xs10 {
        -webkit-flex-basis: 83.3333333333%;
        -ms-flex-preferred-size: 83.3333333333%;
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%
    }

    .Col--xs11 {
        -webkit-flex-basis: 91.6666666667%;
        -ms-flex-preferred-size: 91.6666666667%;
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%
    }

    .Col--xs12 {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }
}

@media screen and (min-width: 544px) {
    .Col--sm1 {
        -webkit-flex-basis:8.3333333333%;
        -ms-flex-preferred-size: 8.3333333333%;
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%
    }

    .Col--sm2 {
        -webkit-flex-basis: 16.6666666667%;
        -ms-flex-preferred-size: 16.6666666667%;
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%
    }

    .Col--sm3 {
        -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
    }

    .Col--sm4 {
        -webkit-flex-basis: 33.3333333333%;
        -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%
    }

    .Col--sm5 {
        -webkit-flex-basis: 41.6666666667%;
        -ms-flex-preferred-size: 41.6666666667%;
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%
    }

    .Col--sm6 {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }

    .Col--sm7 {
        -webkit-flex-basis: 58.3333333333%;
        -ms-flex-preferred-size: 58.3333333333%;
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%
    }

    .Col--sm8 {
        -webkit-flex-basis: 66.6666666667%;
        -ms-flex-preferred-size: 66.6666666667%;
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%
    }

    .Col--sm9 {
        -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
    }

    .Col--sm10 {
        -webkit-flex-basis: 83.3333333333%;
        -ms-flex-preferred-size: 83.3333333333%;
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%
    }

    .Col--sm11 {
        -webkit-flex-basis: 91.6666666667%;
        -ms-flex-preferred-size: 91.6666666667%;
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%
    }

    .Col--sm12 {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }
}

@media screen and (min-width: 768px) {
    .Col--md1 {
        -webkit-flex-basis:8.3333333333%;
        -ms-flex-preferred-size: 8.3333333333%;
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%
    }

    .Col--md2 {
        -webkit-flex-basis: 16.6666666667%;
        -ms-flex-preferred-size: 16.6666666667%;
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%
    }

    .Col--md3 {
        -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
    }

    .Col--md4 {
        -webkit-flex-basis: 33.3333333333%;
        -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%
    }

    .Col--md5 {
        -webkit-flex-basis: 41.6666666667%;
        -ms-flex-preferred-size: 41.6666666667%;
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%
    }

    .Col--md6 {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }

    .Col--md7 {
        -webkit-flex-basis: 58.3333333333%;
        -ms-flex-preferred-size: 58.3333333333%;
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%
    }

    .Col--md8 {
        -webkit-flex-basis: 66.6666666667%;
        -ms-flex-preferred-size: 66.6666666667%;
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%
    }

    .Col--md9 {
        -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
    }

    .Col--md10 {
        -webkit-flex-basis: 83.3333333333%;
        -ms-flex-preferred-size: 83.3333333333%;
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%
    }

    .Col--md11 {
        -webkit-flex-basis: 91.6666666667%;
        -ms-flex-preferred-size: 91.6666666667%;
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%
    }

    .Col--md12 {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }
}

@media screen and (min-width: 991px) {
    .Col--lg1 {
        -webkit-flex-basis:8.3333333333%;
        -ms-flex-preferred-size: 8.3333333333%;
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%
    }

    .Col--lg2 {
        -webkit-flex-basis: 16.6666666667%;
        -ms-flex-preferred-size: 16.6666666667%;
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%
    }

    .Col--lg3 {
        -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
    }

    .Col--lg4 {
        -webkit-flex-basis: 33.3333333333%;
        -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%
    }

    .Col--lg5 {
        -webkit-flex-basis: 41.6666666667%;
        -ms-flex-preferred-size: 41.6666666667%;
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%
    }

    .Col--lg6 {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }

    .Col--lg7 {
        -webkit-flex-basis: 58.3333333333%;
        -ms-flex-preferred-size: 58.3333333333%;
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%
    }

    .Col--lg8 {
        -webkit-flex-basis: 66.6666666667%;
        -ms-flex-preferred-size: 66.6666666667%;
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%
    }

    .Col--lg9 {
        -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
    }

    .Col--lg10 {
        -webkit-flex-basis: 83.3333333333%;
        -ms-flex-preferred-size: 83.3333333333%;
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%
    }

    .Col--lg11 {
        -webkit-flex-basis: 91.6666666667%;
        -ms-flex-preferred-size: 91.6666666667%;
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%
    }

    .Col--lg12 {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }
}

@media screen and (min-width: 1200px) {
    .Col--xl1 {
        -webkit-flex-basis:8.3333333333%;
        -ms-flex-preferred-size: 8.3333333333%;
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%
    }

    .Col--xl2 {
        -webkit-flex-basis: 16.6666666667%;
        -ms-flex-preferred-size: 16.6666666667%;
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%
    }

    .Col--xl3 {
        -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
    }

    .Col--xl4 {
        -webkit-flex-basis: 33.3333333333%;
        -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%
    }

    .Col--xl5 {
        -webkit-flex-basis: 41.6666666667%;
        -ms-flex-preferred-size: 41.6666666667%;
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%
    }

    .Col--xl6 {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }

    .Col--xl7 {
        -webkit-flex-basis: 58.3333333333%;
        -ms-flex-preferred-size: 58.3333333333%;
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%
    }

    .Col--xl8 {
        -webkit-flex-basis: 66.6666666667%;
        -ms-flex-preferred-size: 66.6666666667%;
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%
    }

    .Col--xl9 {
        -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
    }

    .Col--xl10 {
        -webkit-flex-basis: 83.3333333333%;
        -ms-flex-preferred-size: 83.3333333333%;
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%
    }

    .Col--xl11 {
        -webkit-flex-basis: 91.6666666667%;
        -ms-flex-preferred-size: 91.6666666667%;
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%
    }

    .Col--xl12 {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }
}

@media screen and (min-width: 991px) {
    .Grid {
        margin:0 -10px
    }

    .Grid>.Col {
        padding: 0 10px 20px
    }
}
