/* below the fold CSS goes here */
/*
  This CSS resource incorporates links to font software which is the valuable copyrighted
  property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
  redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
  Imaging with any questions regarding Web Fonts:  http://www.fonts.com
  
*/
@font-face {
  font-family: "BrandFont-Text";
  font-display: swap;
  src: url("//scache1.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeTX-Regular.eot?#iefix") format("embedded-opentype"), url("//scache1.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeTX-Regular.woff2") format("woff2"), url("//scache1.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeTX-Regular.woff") format("woff"), url("//scache1.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeTX-Regular.ttf") format("truetype");
  }
  @font-face {
  font-family: "BrandFont-Text";
  font-display: swap;
  font-weight: bold;
  src: url("//scache2.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeTX-Bold.eot?#iefix") format("embedded-opentype"), url("//scache2.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeTX-Bold.woff2") format("woff2"), url("//scache2.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeTX-Bold.woff") format("woff"), url("//scache2.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeTX-Bold.ttf") format("truetype");
  }
  @font-face {
  font-family: 'BrandFont-Display';
  font-display: swap;
  src: url("https://scache1.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeDS-Regular.eot?#iefix") format("embedded-opentype"), url("https://scache1.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeDS-Regular.woff2") format("woff2"), url("https://scache1.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeDS-Regular.woff") format("woff"), url("https://scache1.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeDS-Regular.ttf") format("truetype");
  }
  @font-face {
  font-family: 'BrandFont-Display';
  font-display: swap;
  font-weight: bold;
  src: url("https://scache2.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeDS-Bold.eot?#iefix") format("embedded-opentype"), url("https://scache2.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeDS-Bold.woff2") format("woff2"), url("https://scache2.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeDS-Bold.woff") format("woff"), url("https://scache2.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeDS-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: Verizon-NHG-eTX;
    src: url(//scache1.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeTX-Regular.eot);
    src: url(//scache1.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeTX-Regular.eot#iefix) format("embedded-opentype"),url(//scache1.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeTX-Regular.woff2) format("woff2"),url(//scache1.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeTX-Regular.woff) format("woff"),url(//scache1.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeTX-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
  }
  
  @font-face {
    font-family: Verizon-NHG-eTX;
    src: url(//scache2.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeTX-Bold.eot);
    src: url(//scache2.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeTX-Bold.eot#iefix) format("embedded-opentype"),url(//scache2.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeTX-Bold.woff2) format("woff2"),url(//scache2.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeTX-Bold.woff) format("woff"),url(//scache2.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeTX-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap
  }
  
  @font-face {
    font-family: Verizon-NHG-eDS;
    src: url(https://scache1.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGDS-Light.eot);
    src: url(https://scache1.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGDS-Light.eot#iefix) format("embedded-opentype"),url(https://scache1.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGDS-Light.woff2) format("woff2"),url(https://scache1.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGDS-Light.woff) format("woff"),url(https://scache1.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGDS-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap
  }
  
  @font-face {
    font-family: Verizon-NHG-eDS;
    src: url(https://scache1.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeDS-Regular.eot);
    src: url(https://scache1.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeDS-Regular.eot#iefix) format("embedded-opentype"),url(https://scache1.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeDS-Regular.woff2) format("woff2"),url(https://scache1.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeDS-Regular.woff) format("woff"),url(https://scache1.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeDS-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
  }
  
  @font-face {
    font-family: Verizon-NHG-eDS;
    src: url(https://scache2.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeDS-Bold.eot);
    src: url(https://scache2.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeDS-Bold.eot#iefix) format("embedded-opentype"),url(https://scache2.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeDS-Bold.woff2) format("woff2"),url(https://scache2.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeDS-Bold.woff) format("woff"),url(https://scache2.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeDS-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap
  }

  
.u-fontDisplayLight {
  font-weight: 300
}

.u-fontDisplay,.u-fontDisplayBold,.u-fontDisplayLight {
  font-family: Verizon-NHG-eDS,Helvetica,Arial,sans-serif
}

.u-fontDisplayBold {
  font-weight: 700
}

.u-fontText {
  font-family: Verizon-NHG-eTX,Helvetica,Arial,sans-serif
}

.u-textLineHeightExtraTight {
  line-height: .95!important;
}

.u-textLetterSpacingLoosen {
  letter-spacing: .021em
}

.u-text--0 {
  font-size: 0
}

.u-text--4 {
  font-size: 4px
}

.u-text--8 {
  font-size: 8px
}

.u-text--10 {
  font-size: 10px
}

.u-text--11 {
  font-size: 11px
}

.u-text--12 {
  font-size: 12px
}

.u-text--14 {
  font-size: 14px
}

.u-text--16 {
  font-size: 16px
}

.u-text--20 {
  font-size: 20px
}

.u-text--24 {
  font-size: 24px
}

.u-text--28 {
  font-size: 28px
}

.u-text--32 {
  font-size: 32px
}

.u-text--36 {
  font-size: 36px
}

.u-text--40 {
  font-size: 40px
}

.u-text--44 {
  font-size: 44px
}

.u-text--48 {
  font-size: 48px
}

.u-text--52 {
  font-size: 52px
}

.u-text--56 {
  font-size: 56px
}

.u-text--60 {
  font-size: 60px
}

.u-text--64 {
  font-size: 64px
}

.u-text--68 {
  font-size: 68px
}

.u-text--72 {
  font-size: 72px
}

.u-text--76 {
  font-size: 76px
}

.u-text--80 {
  font-size: 80px
}

.u-text--84 {
  font-size: 84px
}

.u-text--96 {
  font-size: 96px
}

.u-text--108 {
  font-size: 108px
}

.u-text--120 {
  font-size: 120px
}

.u-text--132 {
  font-size: 132px
}

.u-text--144 {
  font-size: 144px
}

.u-text--156 {
  font-size: 156px
}

.u-text--168 {
  font-size: 168px
}

.u-text--180 {
  font-size: 180px
}

.u-text--192 {
  font-size: 192px
}

.u-text--204 {
  font-size: 204px
}

@media screen and (min-width: 320px) {
  .u-text--xs0 {
      font-size:0
  }

  .u-text--xs4 {
      font-size: 4px
  }

  .u-text--xs8 {
      font-size: 8px
  }

  .u-text--xs10 {
      font-size: 10px
  }

  .u-text--xs11 {
      font-size: 11px
  }

  .u-text--xs12 {
      font-size: 12px
  }

  .u-text--xs14 {
      font-size: 14px
  }

  .u-text--xs16 {
      font-size: 16px
  }

  .u-text--xs20 {
      font-size: 20px
  }

  .u-text--xs24 {
      font-size: 24px
  }

  .u-text--xs28 {
      font-size: 28px
  }

  .u-text--xs32 {
      font-size: 32px
  }

  .u-text--xs36 {
      font-size: 36px
  }

  .u-text--xs40 {
      font-size: 40px
  }

  .u-text--xs44 {
      font-size: 44px
  }

  .u-text--xs48 {
      font-size: 48px
  }

  .u-text--xs52 {
      font-size: 52px
  }

  .u-text--xs56 {
      font-size: 56px
  }

  .u-text--xs60 {
      font-size: 60px
  }

  .u-text--xs64 {
      font-size: 64px
  }

  .u-text--xs68 {
      font-size: 68px
  }

  .u-text--xs72 {
      font-size: 72px
  }

  .u-text--xs76 {
      font-size: 76px
  }

  .u-text--xs80 {
      font-size: 80px
  }

  .u-text--xs84 {
      font-size: 84px
  }

  .u-text--xs96 {
      font-size: 96px
  }

  .u-text--xs108 {
      font-size: 108px
  }

  .u-text--xs120 {
      font-size: 120px
  }

  .u-text--xs132 {
      font-size: 132px
  }

  .u-text--xs144 {
      font-size: 144px
  }

  .u-text--xs156 {
      font-size: 156px
  }

  .u-text--xs168 {
      font-size: 168px
  }

  .u-text--xs180 {
      font-size: 180px
  }

  .u-text--xs192 {
      font-size: 192px
  }

  .u-text--xs204 {
      font-size: 204px
  }
}

@media screen and (min-width: 544px) {
  .u-text--sm0 {
      font-size:0
  }

  .u-text--sm4 {
      font-size: 4px
  }

  .u-text--sm8 {
      font-size: 8px
  }

  .u-text--sm10 {
      font-size: 10px
  }

  .u-text--sm11 {
      font-size: 11px
  }

  .u-text--sm12 {
      font-size: 12px
  }

  .u-text--sm14 {
      font-size: 14px
  }

  .u-text--sm16 {
      font-size: 16px
  }

  .u-text--sm20 {
      font-size: 20px
  }

  .u-text--sm24 {
      font-size: 24px
  }

  .u-text--sm28 {
      font-size: 28px
  }

  .u-text--sm32 {
      font-size: 32px
  }

  .u-text--sm36 {
      font-size: 36px
  }

  .u-text--sm40 {
      font-size: 40px
  }

  .u-text--sm44 {
      font-size: 44px
  }

  .u-text--sm48 {
      font-size: 48px
  }

  .u-text--sm52 {
      font-size: 52px
  }

  .u-text--sm56 {
      font-size: 56px
  }

  .u-text--sm60 {
      font-size: 60px
  }

  .u-text--sm64 {
      font-size: 64px
  }

  .u-text--sm68 {
      font-size: 68px
  }

  .u-text--sm72 {
      font-size: 72px
  }

  .u-text--sm76 {
      font-size: 76px
  }

  .u-text--sm80 {
      font-size: 80px
  }

  .u-text--sm84 {
      font-size: 84px
  }

  .u-text--sm96 {
      font-size: 96px
  }

  .u-text--sm108 {
      font-size: 108px
  }

  .u-text--sm120 {
      font-size: 120px
  }

  .u-text--sm132 {
      font-size: 132px
  }

  .u-text--sm144 {
      font-size: 144px
  }

  .u-text--sm156 {
      font-size: 156px
  }

  .u-text--sm168 {
      font-size: 168px
  }

  .u-text--sm180 {
      font-size: 180px
  }

  .u-text--sm192 {
      font-size: 192px
  }

  .u-text--sm204 {
      font-size: 204px
  }
}

@media screen and (min-width: 768px) {
  .u-text--md0 {
      font-size:0
  }

  .u-text--md4 {
      font-size: 4px
  }

  .u-text--md8 {
      font-size: 8px
  }

  .u-text--md10 {
      font-size: 10px
  }

  .u-text--md11 {
      font-size: 11px
  }

  .u-text--md12 {
      font-size: 12px
  }

  .u-text--md14 {
      font-size: 14px
  }

  .u-text--md16 {
      font-size: 16px
  }

  .u-text--md20 {
      font-size: 20px
  }

  .u-text--md24 {
      font-size: 24px
  }

  .u-text--md28 {
      font-size: 28px
  }

  .u-text--md32 {
      font-size: 32px
  }

  .u-text--md36 {
      font-size: 36px
  }

  .u-text--md40 {
      font-size: 40px
  }

  .u-text--md44 {
      font-size: 44px
  }

  .u-text--md48 {
      font-size: 48px
  }

  .u-text--md52 {
      font-size: 52px
  }

  .u-text--md56 {
      font-size: 56px
  }

  .u-text--md60 {
      font-size: 60px
  }

  .u-text--md64 {
      font-size: 64px
  }

  .u-text--md68 {
      font-size: 68px
  }

  .u-text--md72 {
      font-size: 72px
  }

  .u-text--md76 {
      font-size: 76px
  }

  .u-text--md80 {
      font-size: 80px
  }

  .u-text--md84 {
      font-size: 84px
  }

  .u-text--md96 {
      font-size: 96px
  }

  .u-text--md108 {
      font-size: 108px
  }

  .u-text--md120 {
      font-size: 120px
  }

  .u-text--md132 {
      font-size: 132px
  }

  .u-text--md144 {
      font-size: 144px
  }

  .u-text--md156 {
      font-size: 156px
  }

  .u-text--md168 {
      font-size: 168px
  }

  .u-text--md180 {
      font-size: 180px
  }

  .u-text--md192 {
      font-size: 192px
  }

  .u-text--md204 {
      font-size: 204px
  }
}

@media screen and (min-width: 991px) {
  .u-text--lg0 {
      font-size:0
  }

  .u-text--lg4 {
      font-size: 4px
  }

  .u-text--lg8 {
      font-size: 8px
  }

  .u-text--lg10 {
      font-size: 10px
  }

  .u-text--lg11 {
      font-size: 11px
  }

  .u-text--lg12 {
      font-size: 12px
  }

  .u-text--lg14 {
      font-size: 14px
  }

  .u-text--lg16 {
      font-size: 16px
  }

  .u-text--lg20 {
      font-size: 20px
  }

  .u-text--lg24 {
      font-size: 24px
  }

  .u-text--lg28 {
      font-size: 28px
  }

  .u-text--lg32 {
      font-size: 32px
  }

  .u-text--lg36 {
      font-size: 36px
  }

  .u-text--lg40 {
      font-size: 40px
  }

  .u-text--lg44 {
      font-size: 44px
  }

  .u-text--lg48 {
      font-size: 48px
  }

  .u-text--lg52 {
      font-size: 52px
  }

  .u-text--lg56 {
      font-size: 56px
  }

  .u-text--lg60 {
      font-size: 60px
  }

  .u-text--lg64 {
      font-size: 64px
  }

  .u-text--lg68 {
      font-size: 68px
  }

  .u-text--lg72 {
      font-size: 72px
  }

  .u-text--lg76 {
      font-size: 76px
  }

  .u-text--lg80 {
      font-size: 80px
  }

  .u-text--lg84 {
      font-size: 84px
  }

  .u-text--lg96 {
      font-size: 96px
  }

  .u-text--lg108 {
      font-size: 108px
  }

  .u-text--lg120 {
      font-size: 120px
  }

  .u-text--lg132 {
      font-size: 132px
  }

  .u-text--lg144 {
      font-size: 144px
  }

  .u-text--lg156 {
      font-size: 156px
  }

  .u-text--lg168 {
      font-size: 168px
  }

  .u-text--lg180 {
      font-size: 180px
  }

  .u-text--lg192 {
      font-size: 192px
  }

  .u-text--lg204 {
      font-size: 204px
  }
}

@media screen and (min-width: 1200px) {
  .u-text--xl0 {
      font-size:0
  }

  .u-text--xl4 {
      font-size: 4px
  }

  .u-text--xl8 {
      font-size: 8px
  }

  .u-text--xl10 {
      font-size: 10px
  }

  .u-text--xl11 {
      font-size: 11px
  }

  .u-text--xl12 {
      font-size: 12px
  }

  .u-text--xl14 {
      font-size: 14px
  }

  .u-text--xl16 {
      font-size: 16px
  }

  .u-text--xl20 {
      font-size: 20px
  }

  .u-text--xl24 {
      font-size: 24px
  }

  .u-text--xl28 {
      font-size: 28px
  }

  .u-text--xl32 {
      font-size: 32px
  }

  .u-text--xl36 {
      font-size: 36px
  }

  .u-text--xl40 {
      font-size: 40px
  }

  .u-text--xl44 {
      font-size: 44px
  }

  .u-text--xl48 {
      font-size: 48px
  }

  .u-text--xl52 {
      font-size: 52px
  }

  .u-text--xl56 {
      font-size: 56px
  }

  .u-text--xl60 {
      font-size: 60px
  }

  .u-text--xl64 {
      font-size: 64px
  }

  .u-text--xl68 {
      font-size: 68px
  }

  .u-text--xl72 {
      font-size: 72px
  }

  .u-text--xl76 {
      font-size: 76px
  }

  .u-text--xl80 {
      font-size: 80px
  }

  .u-text--xl84 {
      font-size: 84px
  }

  .u-text--xl96 {
      font-size: 96px
  }

  .u-text--xl108 {
      font-size: 108px
  }

  .u-text--xl120 {
      font-size: 120px
  }

  .u-text--xl132 {
      font-size: 132px
  }

  .u-text--xl144 {
      font-size: 144px
  }

  .u-text--xl156 {
      font-size: 156px
  }

  .u-text--xl168 {
      font-size: 168px
  }

  .u-text--xl180 {
      font-size: 180px
  }

  .u-text--xl192 {
      font-size: 192px
  }

  .u-text--xl204 {
      font-size: 204px
  }
}

.u-textNormal {
  font-style: normal!important
}

.u-textItalic {
  font-style: italic!important
}

.u-textOblique {
  font-style: oblique!important
}

.u-textRegular {
  font-weight: 400!important
}

.u-textMedium {
  font-weight: 500!important
}

.u-textBold {
  font-weight: 700!important
}

.u-textLeft {
  text-align: left!important
}

.u-textRight {
  text-align: right!important
}

.u-textCenter {
  text-align: center!important
}

.u-textJustify {
  text-align: justify!important
}

.u-textStart {
  text-align: start!important
}

.u-textEnd {
  text-align: end!important
}

.u-textCapitalize {
  text-transform: capitalize!important
}

.u-textUppercase {
  text-transform: uppercase!important
}

.u-textLowercase {
  text-transform: lowercase!important
}

.u-textTransformNone {
  text-transform: none!important
}

.u-textUnderline {
  text-decoration: underline!important
}

.u-textOverline {
  text-decoration: overline!important
}

.u-textDecorationNone {
  text-decoration: none!important
}

.u-textLineThrough {
  text-decoration: line-through!important
}

.u-textBreakNormal {
  word-break: normal!important
}

.u-textBreakWrap {
  word-break: break-all!important
}

.u-textBreakNoWrap {
  word-break: keep-all!important;
  white-space: nowrap!important
}

.u-textLineHeightNormal {
  line-height: 1.2!important
}

.u-textLineHeightTight {
  line-height: 1!important
}

.u-textLineHeightLoose {
  line-height: 1.5!important
}

/* Other Utilities */

.u-screenReaderOnly {
  border: 0!important;
  clip: rect(1px,1px,1px,1px)!important;
  -webkit-clip-path: inset(50%)!important;
  clip-path: inset(50%)!important;
  height: .0625rem!important;
  overflow: hidden!important;
  padding: 0!important;
  position: absolute!important;
  width: .0625rem!important;
  white-space: nowrap!important
}

.u-screenReaderOnlyFocusable:active,.u-screenReaderOnlyFocusable:focus {
  clip: auto!important;
  -webkit-clip-path: none!important;
  clip-path: none!important;
  height: auto!important;
  overflow: visible!important;
  width: auto!important;
  white-space: normal!important
}

.u-touchable {
  padding: .4375rem!important;
  margin: -.4375rem!important
}

/* Colors */

.u-colorPrimary {
  color: #000!important
}

.u-colorSecondary {
  color: #fff!important
}

.u-colorAccent {
  color: #d52b1e!important
}

.u-colorError {
  color: #ed7000!important
}

.u-colorWarning {
  color: #ffbc3d!important
}

.u-colorSuccess {
  color: #00ac3e!important
}

.u-colorInfo {
  color: #0088ce!important
}

.u-colorError--66 {
  color: #f3a157!important
}

.u-colorWarning--66 {
  color: #ffd37f!important
}

.u-colorSuccess--66 {
  color: #57c880!important
}

.u-colorInfo--66 {
  color: #57b1df!important
}

.u-colorError--33 {
  color: #f9d0ab!important
}

.u-colorWarning--33 {
  color: #ffe9bf!important
}

.u-colorSuccess--33 {
  color: #abe4bf!important
}

.u-colorInfo--33 {
  color: #abd8ef!important
}

.u-colorGray {
  color: #747676!important
}

.u-colorGray--1 {
  color: #f6f6f6!important
}

.u-colorGray--3 {
  color: #d8dada!important
}

.u-colorGray--10 {
  color: #333!important
}

.u-colorBackgroundPrimary {
  background-color: #000!important
}

.u-colorBackgroundSecondary {
  background-color: #fff!important
}

.u-colorBackgroundAccent {
  background-color: #d52b1e!important
}

.u-colorBackgroundError {
  background-color: #ed7000!important
}

.u-colorBackgroundWarning {
  background-color: #ffbc3d!important
}

.u-colorBackgroundSuccess {
  background-color: #00ac3e!important
}

.u-colorBackgroundInfo {
  background-color: #0088ce!important
}

.u-colorBackgroundError--66 {
  background-color: #f3a157!important
}

.u-colorBackgroundWarning--66 {
  background-color: #ffd37f!important
}

.u-colorBackgroundSuccess--66 {
  background-color: #57c880!important
}

.u-colorBackgroundInfo--66 {
  background-color: #57b1df!important
}

.u-colorBackgroundError--33 {
  background-color: #f9d0ab!important
}

.u-colorBackgroundWarning--33 {
  background-color: #ffe9bf!important
}

.u-colorBackgroundSuccess--33 {
  background-color: #abe4bf!important
}

.u-colorBackgroundInfo--33 {
  background-color: #abd8ef!important
}

.u-colorBackgroundGray {
  background-color: #747676!important
}

.u-colorBackgroundGray--1 {
  background-color: #f6f6f6!important
}

.u-colorBackgroundGray--3 {
  background-color: #d8dada!important
}

.u-colorBackgroundGray--10 {
  background-color: #333!important
}

