.Table,table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    width: 100%;
    margin-bottom: 1.3125rem;
    border: .0625rem solid #000
}

.Table td,.Table th,table td,table th {
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: center
}

.Table th,table th {
    padding: .875rem;
    background-color: #000;
    color: #fff;
    border-right: .0625rem solid #fff;
    border-bottom: .0625rem solid #fff
}

.Table th:last-of-type,table th:last-of-type {
    border-right-color: #000
}

.Table td,table td {
    padding: .875rem;
    background-color: #fff;
    color: #000;
    border: .0625rem solid #000
}

.Table--hover tbody tr:hover td {
    background-color: #d8dada
}

.Table--noBorder,.Table--noBorder td,.Table--noBorder th {
    border-color: rgba(0,0,0,0)
}

.Table--striped tbody tr:nth-child(2) td {
    background-color: #d8dada
}

.Tabs-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-top: .0625rem solid rgba(0,0,0,0);
    border-bottom: .0625rem solid #d8dada
}

.Tab {
    margin-bottom: 0;
    margin-right: .875rem;
    min-width: 5rem
}

.Tab,.Tab a,.Tab button {
    position: relative;
    display: inline-block
}

.Tab a,.Tab button {
    border: 0;
    padding: .1875rem 0;
    margin: 0;
    color: #000;
    font-weight: 700;
    font-size: .875rem;
    text-decoration: none;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    line-height: 1.2;
    border-top: .1875rem solid rgba(0,0,0,0);
    border-bottom: .1875rem solid rgba(0,0,0,0);
    font-family: inherit;
    text-align: left
}

.Tab a:focus,.Tab button:focus {
    outline: .0625rem solid #d8dada
}

.Tab a:hover,.Tab button:hover {
    color: #000;
    background-color: rgba(0,0,0,0);
    border-top-color: rgba(0,0,0,0);
    border-bottom-color: #747676
}

.Tab.is-active a,.Tab.is-active button {
    background-color: rgba(0,0,0,0);
    color: #000;
    border-top-color: rgba(0,0,0,0);
    border-bottom-color: #d52b1e
}

.Tab.is-active a:hover,.Tab.is-active button:hover {
    background-color: rgba(0,0,0,0);
    color: #000;
    border-top-color: rgba(0,0,0,0);
    border-bottom-color: #d52b1e
}

.Tabs.Tabs--borderHide .Tabs-list,.Tabs.Tabs--borderTop .Tabs-list {
    border-bottom-color: rgba(0,0,0,0)
}

.Tabs.Tabs--borderTop .Tabs-list {
    border-top-color: #d8dada
}

.Tabs.Tabs--accentTop .Tab.is-active:hover a,.Tabs.Tabs--accentTop .Tab.is-active:hover button,.Tabs.Tabs--accentTop .Tab.is-active a,.Tabs.Tabs--accentTop .Tab.is-active button,.Tabs.Tabs--accentTop .Tab:hover a,.Tabs.Tabs--accentTop .Tab:hover button {
    background-color: rgba(0,0,0,0);
    color: #000;
    border-bottom-color: rgba(0,0,0,0);
    border-top-color: #d52b1e
}

.Tabs.Tabs--accentTop .Tab:hover a,.Tabs.Tabs--accentTop .Tab:hover button {
    border-bottom-color: rgba(0,0,0,0);
    border-top-color: #747676
}

.Tabs.Tabs--accentFill .Tab a,.Tabs.Tabs--accentFill .Tab button {
    padding-right: 0;
    margin-right: .875rem;
    width: 100%
}

.Tabs.Tabs--centered .Tabs-list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.Tabs.Tabs--centered .Tab,.Tabs.Tabs--centered .Tab a,.Tabs.Tabs--centered .Tab button {
    text-align: center
}

.Tooltip {
    display: none;
    position: absolute;
    background: #fff;
    border: .0625rem solid #000;
    color: #000;
    padding: .875rem;
    width: 18.75rem
}

.Tooltip.is-active {
    display: block
}

.Tooltip.Tooltip--fullTop,.Tooltip.Tooltip--top {
    margin-bottom: .75rem;
    -webkit-transform: translateY(-.75rem);
    -moz-transform: translateY(-.75rem);
    -ms-transform: translateY(-.75rem);
    -o-transform: translateY(-.75rem);
    transform: translateY(-.75rem)
}

.Tooltip.Tooltip--fullTop:after,.Tooltip.Tooltip--top:after {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    content: "";
    width: .875rem;
    height: .875rem;
    border-top: .0625rem solid #000;
    border-right: .0625rem solid #000;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    background-color: #fff
}

.Tooltip.Tooltip--fullTop:after,.Tooltip.Tooltip--top:after {
    top: auto;
    bottom: -.5rem
}

.Tooltip.Tooltip--right {
    margin-left: .75rem;
    -webkit-transform: translateX(-.75rem);
    -moz-transform: translateX(-.75rem);
    -ms-transform: translateX(-.75rem);
    -o-transform: translateX(-.75rem);
    transform: translateX(-.75rem)
}

.Tooltip.Tooltip--right:after {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    content: "";
    width: .875rem;
    height: .875rem;
    border-top: .0625rem solid #000;
    border-right: .0625rem solid #000;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    background-color: #fff
}

.Tooltip.Tooltip--right:after {
    margin: auto 0;
    right: auto;
    left: -.5rem;
    top: 0;
    bottom: 0
}

.Tooltip.Tooltip--bottom,.Tooltip.Tooltip--fullBottom {
    margin-top: .75rem;
    -webkit-transform: translateY(.75rem);
    -moz-transform: translateY(.75rem);
    -ms-transform: translateY(.75rem);
    -o-transform: translateY(.75rem);
    transform: translateY(.75rem)
}

.Tooltip.Tooltip--bottom:after,.Tooltip.Tooltip--fullBottom:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    content: "";
    width: .875rem;
    height: .875rem;
    border-top: .0625rem solid #000;
    border-right: .0625rem solid #000;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    background-color: #fff
}

.Tooltip.Tooltip--bottom:after,.Tooltip.Tooltip--fullBottom:after {
    top: -.5rem;
    bottom: auto
}

.Tooltip.Tooltip--left {
    margin-right: .75rem;
    -webkit-transform: translateX(.75rem);
    -moz-transform: translateX(.75rem);
    -ms-transform: translateX(.75rem);
    -o-transform: translateX(.75rem);
    transform: translateX(.75rem)
}

.Tooltip.Tooltip--left:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
    width: .875rem;
    height: .875rem;
    border-top: .0625rem solid #000;
    border-right: .0625rem solid #000;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    background-color: #fff
}

.Tooltip.Tooltip--left:after {
    margin: auto 0;
    left: auto;
    right: -.5rem;
    top: 0;
    bottom: 0
}

.Tooltip.Tooltip--fullBottom,.Tooltip.Tooltip--fullTop {
    width: 100%;
    left: 0;
    right: 0
}